<header class="homeHeader">
    <section class="inner">
        <h1 class="title"><strong>Careers at </strong>Ansik</h1>
        <section class="fancyDivider"></section>
        <p class="description">
            Please send your resume to <a href="mailto:careers@ansik.ca" target="_blank">careers@ansik.ca</a> to apply to any of the positions posted on this page.
        </p>
    </section>
</header>
<section class="content hasContent">
    <section class="columns">
        <section class="column-6">
            <i class="contentIcon ion-ios-glasses-outline"></i>
            <h5 class="heading">Software Engineering Intern</h5>
            <p class="heading2">
                This includes working as Web Services Developer, Front End Developer, Web Developer and Mobile Developer.
            </p>
        </section>
        <section class="column-6">
            <i class="contentIcon ion-ios-speedometer-outline"></i>
            <h5 class="heading">OBD Specialist</h5>
            <p class="heading2">
                This includes working closely with Software Engineers and Embedded Engineers in the PitStop team.
            </p>
        </section>
    </section>
</section>
<section class="content hasContent">
    <section class="columns">
        <section class="column-6">
            <i class="contentIcon ion-ios-lightbulb-outline"></i>
            <h5 class="heading">Embedded Engineering Intern</h5>
            <p class="heading2">
                This includes designing/implementing PitStop's OBD Firmware.
            </p>
        </section>
    </section>
</section>
<section class="content hasContent">

</section>