<header class="homeHeader">
    <section class="inner">
        <h1 class="title">Contact <strong>Ansik</strong></h1>
        <section class="fancyDivider"></section>
        <p class="description">
            Shoot us an email at <a href="mailto:info@ansik.ca" target="_blank">info@ansik.ca</a> and we will get back to you as soon as possible.
        </p>
    </section>
</header>
<section class="content map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11586.084590115359!2d-80.495677!3d43.449716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeafe068e8d60d201!2sVelocity+Foundry!5e0!3m2!1sen!2sca!4v1421178389249&z=1" height="600" frameborder="0" class="map"></iframe>
</section>