<header class="homeHeader">
    <section class="inner">
        <h1 class="title">Ansik <strong>Incorporation</strong></h1>
        <section class="fancyDivider"></section>
        <p class="description">
            Making automotive servicing <a href="http://shocklock.ca" target="_blank">Safer</a>, <a target="_blank" href="http://pitstop.ansik.ca">quicker</a>, and <a target="_blank" href="http://pitstop.ansik.ca">more affordable</a>
        </p>
    </section>
</header>
<section class="content hasContent">
    <section class="columns">
        <section class="column-6 product shocklock">
            <h6 class="heading3">Creator of</h6>
            <h3 class="heading">Shock<span>Lock</span></h3>
            <section class="fancyDivider"></section>
            <p class="heading2">
                ShockLock is the strongest solution for failed gas struts. It is a heavy duty tool to help hold up hatches like hoods and trunks.
                <a target="_blank" href="http://shocklock.ca">More <i class="ion-ios-arrow-right"></i></a>
            </p>
        </section>
        <section class="column-6 product pitstop">
            <h6 class="heading3">Creator of</h6>
            <h3 class="heading">Pit<span>Stop</span></h3>
            <section class="fancyDivider"></section>
            <p class="heading2">
                PitStop exploits efficiencies within automotive repair and maintenance by using the connected vehicle.
                <a target="_blank" href="http://pitstop.ansik.ca">More <i class="ion-ios-arrow-right"></i></a>
            </p>
        </section>
    </section>
</section>
<section class="content hasContent">
</section>