/*
 Includes
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/*
 Variables
 */
/*
 OverWrites
*/
/*
 Main Code
 */
.mainContent {
  position: relative;
  padding: 0;
  padding-bottom: 70px;
  min-height: 100%; }

iframe {
  width: 100% !important; }

.mainContainer.ng-enter {
  animation: fadeIn 1s; }
.mainContainer.ng-leave {
  animation: fadeOut 1s; }

.homeHeader {
  width: 100%;
  padding: 150px 10px;
  min-height: 100%;
  text-align: center; }
  .homeHeader .title {
    text-transform: uppercase;
    color: #212121; }
    .homeHeader .title strong {
      font-weight: 300 !important; }
  .homeHeader .description {
    text-transform: uppercase;
    color: #aab2bd;
    width: 33%;
    min-width: 320px;
    display: table;
    margin: 0 auto; }
    .homeHeader .description a {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      color: #616161 !important;
      font-weight: 400 !important; }
      .homeHeader .description a:hover {
        color: #5d9cec !important;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }

.signUp {
  width: 100%;
  padding: 20px 10px;
  background: #f5f7fa;
  position: relative;
  border-top: 1px solid #e6e9ed !important;
  border-bottom: 1px solid #e6e9ed !important; }
  .signUp .title {
    color: #212121; }
    .signUp .title strong {
      font-weight: 300 !important;
      color: #424242; }
  .signUp .description {
    text-transform: uppercase;
    color: #aab2bd; }
    .signUp .description strong {
      font-weight: 400;
      color: #616161; }
  .signUp input {
    background: white;
    border: 1px solid #e6e9ed !important;
    padding: 10px;
    margin-top: 12.5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #aab2bd;
    font-weight: 400; }
  .signUp ::-webkit-input-placeholder {
    color: #aab2bd; }
  .signUp :-moz-placeholder {
    /* Firefox 18- */
    color: #aab2bd; }
  .signUp ::-moz-placeholder {
    /* Firefox 19+ */
    color: #aab2bd; }
  .signUp :-ms-input-placeholder {
    color: #aab2bd; }
  .signUp button {
    background: #5d9cec;
    font-weight: 400;
    margin-top: 12.5px; }
    .signUp button:hover {
      background: #4a89dc; }

.content {
  padding: 20px 10px;
  background: transparent; }
  .content.hasContent {
    background: white;
    margin: 0 auto !important; }
  .content.map {
    margin: 0 auto !important;
    padding: 0 !important; }
  .content.intro {
    background: #424242;
    padding: 100px 10px; }
  .content .contentIcon {
    text-align: center;
    color: #5d9cec;
    font-size: 3.6405em;
    display: block;
    width: 100%; }
  .content .heading {
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    display: table;
    color: #212121;
    width: 50%;
    min-width: 420px; }
  .content .heading2 {
    text-transform: none;
    color: #aab2bd;
    text-align: center;
    display: table;
    margin: auto;
    width: 62.5%;
    min-width: 420px;
    line-height: 1.5em; }
    .content .heading2 ul {
      max-width: 100%;
      text-align: left;
      margin: 20px auto; }
  .content .title {
    text-transform: none;
    color: rgba(0, 0, 0, 0.435);
    margin-bottom: 10px; }
  .content .alignCenter {
    text-align: center; }
  .content .description {
    color: rgba(0, 0, 0, 0.26);
    line-height: 1.5em; }
    .content .description strong {
      color: rgba(0, 0, 0, 0.87); }

.mainFooter {
  width: 100%;
  padding: 20px 10px;
  position: fixed;
  bottom: 0;
  background: white;
  left: 0;
  right: 0;
  border-top: 1px solid #e6e9ed; }
  .mainFooter .columns {
    position: relative;
    bottom: -7.5px; }
  .mainFooter .links {
    direction: rtl; }
    .mainFooter .links li {
      display: inline-block; }
    .mainFooter .links a {
      -webkit-transition: all 1s ease;
      font-size: 14px !important;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      color: #424242 !important;
      font-weight: bold !important;
      text-transform: uppercase;
      padding: 10px; }
      .mainFooter .links a:hover {
        color: #4a89dc !important; }
  .mainFooter .title strong {
    font-weight: 300 !important; }
  .mainFooter .description i {
    color: #ed5565; }

/*
 Framework Modifications
 */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: white; }

h1, h2, h3, h4, h5 {
  font-weight: 400 !important;
  text-transform: uppercase !important; }

* {
  font-family: "Helvetica Neue", "Roboto", sans-serif; }

/*
 Helper Code
 */
.columns {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .columns::after {
    clear: both;
    content: "";
    display: table; }
  .columns .column-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    min-height: 100%; }
    .columns .column-3:last-child {
      margin-right: 0; }
  .columns .column-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    min-height: 100%; }
    .columns .column-2:last-child {
      margin-right: 0; }
  .columns .column-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    min-height: 100%; }
    .columns .column-6:last-child {
      margin-right: 0; }
  .columns .column-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    min-height: 100%; }
    .columns .column-4:last-child {
      margin-right: 0; }
  .columns .column-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    min-height: 100%; }
    .columns .column-10:last-child {
      margin-right: 0; }
  .columns .column-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    min-height: 100%; }
    .columns .column-8:last-child {
      margin-right: 0; }
  .columns .column-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    min-height: 100%; }
    .columns .column-9:last-child {
      margin-right: 0; }

.inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .inner::after {
    clear: both;
    content: "";
    display: table; }

.fancyDivider {
  width: 33%;
  display: table;
  margin: 10px auto;
  background: #e6e9ed;
  height: 5px; }

/*
 Animations
 */
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 87%; }

  50% {
    background-position: 100% 14%; }

  100% {
    background-position: 0% 87%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 87%; }

  50% {
    background-position: 100% 14%; }

  100% {
    background-position: 0% 87%; } }
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 87%; }

  50% {
    background-position: 100% 14%; }

  100% {
    background-position: 0% 87%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 87%; }

  50% {
    background-position: 100% 14%; }

  100% {
    background-position: 0% 87%; } }
/*
 Break-Points
*/
@media only screen and (max-width: 850px) {
  .mainFooter {
    display: none !important; } }
